<h1>網站建立成功</h1>
<% if [
  ENV["LINE_CHANNEL_SECRET"],
  ENV["LINE_CHANNEL_SECRET"],
  ENV["LIFF_COMPACT"],
  ENV["LIFF_TALL"],
  ENV["LIFF_FULL"]
].any? nil %>
  <h2>環境變數設定</h2>
  <hr/>
  <% if ENV["LINE_CHANNEL_SECRET"].nil? %>
    <div>
      <h3>尚未設定環境變數 LINE_CHANNEL_SECRET</h3>
      請將 Channel secret 設定到環境變數 LINE_CHANNEL_SECRET，你可以在 LINE Messaging API Channel 下的 Basic settings 找到 Channel secret。
    </div>
  <% end %>

  <% if ENV["LINE_CHANNEL_TOKEN"].nil? %>
    <div>
      <h3>尚未設定環境變數 LINE_CHANNEL_TOKEN</h3>
      請將 Channel access token 設定到環境變數 LINE_CHANNEL_TOKEN，你可以在 LINE Messaging API Channel 下的 Messaging API 找到 Channel access token。
    </div>
  <% end %>

  <% if ENV["LIFF_COMPACT"].nil? %>
    <div>
      <h3>尚未設定環境變數 LIFF_COMPACT</h3>
      請將 Size 為 Compact 的 LIFF URL 設定到環境變數 LIFF_COMPACT，你可以在 LINE Login API Channel 下的 LIFF 找到 LIFF URL。
    </div>
  <% end %>

  <% if ENV["LIFF_TALL"].nil? %>
    <div>
      <h3>尚未設定環境變數 LIFF_TALL</h3>
      請將 Size 為 Tall 的 LIFF URL 設定到環境變數 LIFF_TALL，你可以在 LINE Login API Channel 下的 LIFF 找到 LIFF URL。
    </div>
  <% end %>

  <% if ENV["LIFF_FULL"].nil? %>
    <div>
      <h3>尚未設定環境變數 LIFF_FULL</h3>
      請將 Size 為 Full 的 LIFF URL 設定到環境變數 LIFF_FULL，你可以在 LINE Login API Channel 下的 LIFF 找到 LIFF URL。
    </div>
  <% end %>
<% else %>
  <h2>LINE 串接資訊</h2>
  <hr/>

  <div>
    <h3>LINE Messaging API Webhook URL:</h3>
    <%= "#{request.base_url}/line" %>
  </div>
  <div>
    <h3>LINE Login API LIFF Endpoint URL:</h3>
    <%= "#{request.base_url}/liff_entry" %>
  </div>
<% end %>